   p{
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
 }
h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing:auto;
  font: weight 40px;
  font-style:normal;
  text-align: center;
}
h3{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}
.important {
  color: rgb(179,126,181);
}

 table, th,td {
            border: 2px solid; color: rgb(179,126,181); 
            font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}


      .members {
      background-color:rgb(185, 146, 221);
      display: flex;
      width: 900px;
      justify-content: center;
      align-items: center;
      }
      .book-item{
        background-color:rgb(255, 255, 255);
        width: 400px;
        display: flex;
        justify-content: center;
      align-items: center;
      }

 